In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor

import requests
from bs4 import BeautifulSoup

## Jugadores reales

In [17]:
df_u21 = pd.read_csv("../Datos/real_players_u21.csv")

In [18]:
# Asignar un ID basado en el Ã­ndice de cada fila
df_u21['player_id'] = range(1, len(df_u21) + 1)

# Verificar los resultados
df_u21

,Player,Age,Nat.,Club,Market value,minutes_played,goals,assists,position,foot,height_in_cm,player_id
0,Jude Bellingham,21,England,Real Madrid,180.0,13820.0,47.0,38.0,Midfield,right,186.0,1
1,Florian Wirtz,21,Germany,Bayer 04 Leverkusen,130.0,10929.0,41.0,50.0,Midfield,right,177.0,2
2,Jamal Musiala,21,Germany,Bayern Munich,130.0,9175.0,43.0,31.0,Midfield,right,184.0,3
3,Lamine Yamal,17,Spain,FC Barcelona,120.0,2964.0,7.0,9.0,Attack,left,180.0,4
4,Eduardo Camavinga,21,France,Real Madrid,100.0,13733.0,4.0,13.0,Midfield,left,182.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
345,Dexter Lembikisa,20,Jamaica,Wolverhampton Wanderers U21,3.0,1176.0,1.0,0.0,Defender,right,180.0,346
346,Anton Gaaei,21,Denmark,Ajax Amsterdam,3.0,4030.0,2.0,9.0,Defender,right,183.0,347
347,Nikita Saltykov,20,Russia,Lokomotiv Moscow,3.0,2556.0,4.0,5.0,Attack,right,174.0,348
348,Aljoscha Kemlein,20,Germany,1.FC Union Berlin,3.0,108.0,0.0,0.0,Midfield,right,185.0,349
349,Robert Wagner,21,Germany,FC St. Pauli,3.0,124.0,0.0,0.0,Midfield,right,181.0,350

In [19]:
info_jugadores = df_u21 [['player_id', 'Player', 'Club', 'position', 'Market value', 'Nat.']]
info_jugadores

,player_id,Player,Club,position,Market value,Nat.
0,1,Jude Bellingham,Real Madrid,Midfield,180.0,England
1,2,Florian Wirtz,Bayer 04 Leverkusen,Midfield,130.0,Germany
2,3,Jamal Musiala,Bayern Munich,Midfield,130.0,Germany
3,4,Lamine Yamal,FC Barcelona,Attack,120.0,Spain
4,5,Eduardo Camavinga,Real Madrid,Midfield,100.0,France
...,...,...,...,...,...,...
345,346,Dexter Lembikisa,Wolverhampton Wanderers U21,Defender,3.0,Jamaica
346,347,Anton Gaaei,Ajax Amsterdam,Defender,3.0,Denmark
347,348,Nikita Saltykov,Lokomotiv Moscow,Attack,3.0,Russia
348,349,Aljoscha Kemlein,1.FC Union Berlin,Midfield,3.0,Germany
349,350,Robert Wagner,FC St. Pauli,Midfield,3.0,Germany

In [20]:
caracteristicas_jugadores = df_u21 [['player_id', 'foot', 'height_in_cm']]
caracteristicas_jugadores

     player_id   foot  height_in_cm
0            1  right         186.0
1            2  right         177.0
2            3  right         184.0
3            4   left         180.0
4            5   left         182.0
..         ...    ...           ...
345        346  right         180.0
346        347  right         183.0
347        348  right         174.0
348        349  right         185.0
349        350  right         181.0

[350 rows x 3 columns]

In [21]:
estadisticas_jugadores = df_u21 [['player_id', 'minutes_played', 'goals', 'assists']]
estadisticas_jugadores

     player_id  minutes_played  goals  assists
0            1         13820.0   47.0     38.0
1            2         10929.0   41.0     50.0
2            3          9175.0   43.0     31.0
3            4          2964.0    7.0      9.0
4            5         13733.0    4.0     13.0
..         ...             ...    ...      ...
345        346          1176.0    1.0      0.0
346        347          4030.0    2.0      9.0
347        348          2556.0    4.0      5.0
348        349           108.0    0.0      0.0
349        350           124.0    0.0      0.0

[350 rows x 4 columns]

## Exportar a SQL

In [22]:
# CÃ³digo usado para e enviar a SQL los df

import pandas as pd
import pymysql
from sqlalchemy import create_engine
import getpass

#Obtener la contraseÃ±a del usuario
password = getpass.getpass(prompt='Enter your MySQL password: ')

# Nombre de la base de datos
bd = "Trabajo_final"

# Crear la cadena de conexiÃ³n
connection_string = f'mysql+pymysql://root:{password}@localhost/{bd}'

# Crear el motor de conexiÃ³n
engine = create_engine(connection_string)

# Enviar DataFrames a la base de datos
info_jugadores.to_sql('info_jugadores', con=engine, if_exists='replace', index=False)
caracteristicas_jugadores.to_sql('caracteristicas_jugadores', con=engine, if_exists='replace', index=False)
estadisticas_jugadores.to_sql('estadisticas_jugadores', con=engine, if_exists='replace', index=False)

print("DataFrames enviados a la base de datos exitosamente.")

DataFrames enviados a la base de datos exitosamente.

In [9]:
df_u21_fifa = pd.read_csv("../Datos/fifa_players_u21.csv")

In [10]:
# Asignar un ID basado en el Ã­ndice de cada fila
df_u21_fifa['player_id'] = range(1, len(df_u21_fifa) + 1)

# Verificar los resultados
df_u21_fifa

,name,nation,position,age,overall,potential,total_gk,total_stats,pace,shooting,passing,dribbling,defending,physical,team,altura,foot,cost,player_id
0,Jamal Musiala,Germany,CAM,20,86,93,42,2090,85,75,76,91,63,61,FC Bayern MÃ¼nchen,184,Right,134.5,1
1,Jude Bellingham,England,CAM,20,88,92,48,2295,80,83,81,87,78,83,Real Madrid,186,Right,128.5,2
2,Florian Wirtz,Germany,CAM,20,87,92,57,2089,80,76,86,88,50,63,Bayer 04 Leverkusen,177,Right,118.5,3
3,Pedro GonzÃ¡lez LÃ³pez,Spain,CM,20,86,92,46,2138,78,69,82,88,70,74,FC Barcelona,174,Right,105.0,4
4,Bukayo Saka,England,RW,21,86,90,50,2196,85,82,81,88,60,70,Arsenal,178,Left,99.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,ThimothÃ©e Lo-Tutala,France,GK,20,63,75,314,918,64,62,61,67,21,60,Doncaster Rovers,186,Right,1.0,1996
1996,Manuel Morillo LeÃ³n,Spain,ST,19,62,79,59,1502,76,61,51,65,21,47,Real Betis,182,Right,1.0,1997
1997,Antonino Jastin GarcÃ­a LÃ³pez,Portugal,LM,19,62,78,47,1439,77,55,53,65,23,43,Girona,180,Right,1.0,1998
1998,Iker Almena Horcajo,Spain,RM,19,62,80,51,1450,74,54,56,63,25,46,Girona,176,Left,1.0,1999
1999,Gjivai ZechiÃ«l,Netherlands,CM,19,62,80,40,1687,75,47,59,67,62,52,Feyenoord,183,Right,1.0,2000

In [13]:
fifa_info_jugadores = df_u21_fifa [['player_id', 'name', 'team', 'position', 'nation', 'cost']]
fifa_info_jugadores

,player_id,name,team,position,nation,cost
0,1,Jamal Musiala,FC Bayern MÃ¼nchen,CAM,Germany,134.5
1,2,Jude Bellingham,Real Madrid,CAM,England,128.5
2,3,Florian Wirtz,Bayer 04 Leverkusen,CAM,Germany,118.5
3,4,Pedro GonzÃ¡lez LÃ³pez,FC Barcelona,CM,Spain,105.0
4,5,Bukayo Saka,Arsenal,RW,England,99.0
...,...,...,...,...,...,...
1995,1996,ThimothÃ©e Lo-Tutala,Doncaster Rovers,GK,France,1.0
1996,1997,Manuel Morillo LeÃ³n,Real Betis,ST,Spain,1.0
1997,1998,Antonino Jastin GarcÃ­a LÃ³pez,Girona,LM,Portugal,1.0
1998,1999,Iker Almena Horcajo,Girona,RM,Spain,1.0
1999,2000,Gjivai ZechiÃ«l,Feyenoord,CM,Netherlands,1.0

In [14]:
fifa_caracteristicas_jugadores = df_u21_fifa [['player_id', 'foot', 'altura', 'age']]
fifa_caracteristicas_jugadores

      player_id   foot  altura  age
0             1  Right     184   20
1             2  Right     186   20
2             3  Right     177   20
3             4  Right     174   20
4             5   Left     178   21
...         ...    ...     ...  ...
1995       1996  Right     186   20
1996       1997  Right     182   19
1997       1998  Right     180   19
1998       1999   Left     176   19
1999       2000  Right     183   19

[2000 rows x 4 columns]

In [15]:
fifa_estadisticas_jugadores = df_u21_fifa [['player_id', 'potential', 'total_gk', 'overall','total_stats', 'pace', 'shooting', 'passing', 'dribbling', 'defending','physical']]
fifa_estadisticas_jugadores

,player_id,potential,total_gk,overall,total_stats,pace,shooting,passing,dribbling,defending,physical
0,1,93,42,86,2090,85,75,76,91,63,61
1,2,92,48,88,2295,80,83,81,87,78,83
2,3,92,57,87,2089,80,76,86,88,50,63
3,4,92,46,86,2138,78,69,82,88,70,74
4,5,90,50,86,2196,85,82,81,88,60,70
...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,75,314,63,918,64,62,61,67,21,60
1996,1997,79,59,62,1502,76,61,51,65,21,47
1997,1998,78,47,62,1439,77,55,53,65,23,43
1998,1999,80,51,62,1450,74,54,56,63,25,46
1999,2000,80,40,62,1687,75,47,59,67,62,52

In [16]:
# CÃ³digo usado para e enviar a SQL los df

import pandas as pd
import pymysql
from sqlalchemy import create_engine
import getpass

#Obtener la contraseÃ±a del usuario
password = getpass.getpass(prompt='Enter your MySQL password: ')

# Nombre de la base de datos
bd = "Trabajo_fifa"

# Crear la cadena de conexiÃ³n
connection_string = f'mysql+pymysql://root:{password}@localhost/{bd}'

# Crear el motor de conexiÃ³n
engine = create_engine(connection_string)

# Enviar DataFrames a la base de datos
fifa_info_jugadores.to_sql('info_jugadores', con=engine, if_exists='replace', index=False)
fifa_caracteristicas_jugadores.to_sql('caracteristicas_jugadores', con=engine, if_exists='replace', index=False)
fifa_estadisticas_jugadores.to_sql('estadisticas_jugadores', con=engine, if_exists='replace', index=False)

print("DataFrames enviados a la base de datos exitosamente.")

DataFrames enviados a la base de datos exitosamente.